.offers {
  justify-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 261px);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}

.leftCard {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  margin: 0% 1% 0% 2%;
  border-radius: 15px;
  width: 33%;
  height: 500px;
}

.middle {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  margin: 0% 1% 0% 1%;
  border-radius: 15px;
  width: 33%;
  height: 600px;
}

.rightCard {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  margin: 0% 2% 0% 1%;
  border-radius: 15px;
  width: 33%;
  height: 500px;
}

.cards h1 {
  text-align: center;
}

.cards h2 {
  text-align: end;
}

<<<<<<< HEAD
ul {
  margin-left: 60px;
}

=======
>>>>>>> 39a0c01d24a41936dc2a07e6a804322b7b677813
.cardBottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

.cardBottomMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

.cardBottomRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30%;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
<<<<<<< HEAD
  padding-top: 15px;
=======
>>>>>>> 39a0c01d24a41936dc2a07e6a804322b7b677813
}

.buttonOffers {
  width: fit-content;
  border-radius: 5px;
  border: none;
  color: white;
  transition-duration: 0.4s;
  background-color: #f10026;
  padding: 20px;
  font-size: 20px;
}

.buttonOffers:hover {
  background-color: white; /* Green */
  color: black;
}

@media screen and (max-width: 1023px) {
  .offers {
    height: fit-content;
  }

  .cards {
    flex-direction: column;
    margin-top: 10%;
  }

  .leftCard {
    width: 90%;
  }

  .middle {
    margin-top: 10%;
    width: 90%;
  }

  .rightCard {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
