.offers {
  justify-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 237px);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.leftCard {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  margin: 0% 1% 0% 2%;
  border-radius: 15px;
  width: 33%;
}

.middle {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  margin: 0% 1% 0% 1%;
  border-radius: 15px;
  width: 33%;
}

.rightCard {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 50px;
  margin: 0% 2% 0% 1%;
  border-radius: 15px;
  width: 33%;
}

.cards h1 {
  font-size: 30px;
  text-align: center;
}

.cards h2 {
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .offers {
    height: fit-content;
  }

  .cards {
    flex-direction: column;
    margin-top: 10%;
  }

  .leftCard {
  }

  .middle {
    margin-top: 10%;
  }

  .rightCard {
    margin-top: 10%;
  }
}
